# Step 1: Loading in packages

In [1]:
# the below packages are related to loading and performing
# basic transformations of data
import pandas as pd
import numpy as np

In [2]:
# now we are going to load in some visualization packages to help with
# creating visuals of the data
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

sns.set_theme(style='whitegrid')

# Loading in Data

In [3]:
dataFrame = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_Microcourse_Visualization/main/Data/Georgia_COVID/Georgia_COVID-19_Case_Data.csv')
dataFrame

,OBJECTID,COUNTY,CNTY_FIPS,DATESTAMP,C_New,C_Cum,D_New,D_Cum,H_New,H_Cum,...,C_His,C_NonHis,C_EthUnk,GlobalID,C_NEW_PERCT_CHG,D_NEW_PERCT_CHG,C_NEW_7D_MEAN,D_NEW_7D_MEAN,C_NEW_7D_PERCT_CHG,D_NEW_7D_PERCT_CHG
0,1,BALDWIN,1003,2021/04/13 03:59:59+00,4,3795,0,115,0,318,...,106,2897,792,{6D1CBB20-5FCF-4FA3-9112-504CF3A93EE8},NaN,NaN,1.857143,0.0,NaN,NaN
1,2,UNKNOWN,1,2021/02/04 05:00:00+00,4,2158,0,4,0,36,...,80,155,1923,{925F3292-9C8D-420F-9FE5-97E82BC7F8E8},-0.428571,NaN,2.714286,0.0,NaN,NaN
2,3,BALDWIN,1003,2021/04/14 03:59:59+00,2,3797,0,115,0,318,...,106,2898,793,{1F195651-C20F-4B60-98B0-D0481D40F263},NaN,NaN,1.857143,0.0,NaN,NaN
3,4,UNKNOWN,1,2021/02/05 05:00:00+00,1,2159,0,4,0,36,...,80,156,1923,{C614DA89-4EAB-4807-9FDE-7661AEFCC144},NaN,NaN,2.857143,0.0,NaN,NaN
4,5,BALDWIN,1003,2021/04/15 03:59:59+00,0,3797,0,115,0,318,...,106,2898,793,{EBFFE6DD-9C7F-44F1-B19A-AC69E6EB4093},NaN,NaN,1.857143,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91687,91688,WAYNE,49055,2021/07/15 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{D678A5A4-8531-4A06-B71A-A757A4933957},NaN,NaN,0.142857,0.0,NaN,NaN
91688,91689,WAYNE,49055,2021/07/16 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{6F4E3A27-D6A2-422F-B7CA-16595DA36061},NaN,NaN,0.000000,0.0,NaN,NaN
91689,91690,WAYNE,49055,2021/07/17 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{CE952CC5-B75F-45E7-BC12-954B1EE71F31},NaN,NaN,0.000000,0.0,NaN,NaN
91690,91691,WAYNE,49055,2021/07/18 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{D07AF78B-C535-4F99-8E04-AED183809453},NaN,NaN,0.000000,0.0,NaN,NaN
91691,91692,WAYNE,49055,2021/07/19 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{42B36DB7-6C0D-4A0D-AE78-E269A191E20E},NaN,NaN,0.000000,0.0,NaN,NaN

In [5]:
len(dataFrame)

91692

In [6]:
dataFrame.shape
# (rows, columns)

(91692, 45)

## Describing the Variables

In [7]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91692 entries, 0 to 91691
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            91692 non-null  int64
 1   COUNTY              91692 non-null  object
 2   CNTY_FIPS           91692 non-null  int64
 3   DATESTAMP           91692 non-null  object
 4   C_New               91692 non-null  int64
 5   C_Cum               91692 non-null  int64
 6   D_New               91692 non-null  int64
 7   D_Cum               91692 non-null  int64
 8   H_New               91692 non-null  int64
 9   H_Cum               91692 non-null  int64
 10  C_Rate              91692 non-null  int64
 11  C_Female            91692 non-null  int64
 12  C_Male              91692 non-null  int64
 13  C_SexUnkn           91692 non-null  int64
 14  C_UCon_Yes          91692 non-null  int64
 15  C_UCon_No           91692 non-null  int64
 16  C_UCon_Unk          91692 non-null  int64
 17  C_Age_0_4           91692 non-null  int64
 18  C_Age_5_14          91692 non-null  int64
 19  C_Age_15_24         91692 non-null  int64
 20  C_Age_25_34         91692 non-null  int64
 21  C_Age_35_44         91692 non-null  int64
 22  C_Age_45_54         91692 non-null  int64
 23  C_Age_55_64         91692 non-null  int64
 24  C_Age_65_74         91692 non-null  int64
 25  C_Age_75_84         91692 non-null  int64
 26  C_Age_85plus        91692 non-null  int64
 27  C_Age_Unkn          91692 non-null  int64
 28  C_Age_0             91692 non-null  int64
 29  C_Age_20            91692 non-null  int64
 30  C_RaceWh            91692 non-null  int64
 31  C_RaceBl            91692 non-null  int64
 32  C_RaceAs            91692 non-null  int64
 33  C_RaceOth           91692 non-null  int64
 34  C_RaceUnk           91692 non-null  int64
 35  C_His               91692 non-null  int64
 36  C_NonHis            91692 non-null  int64
 37  C_EthUnk            91692 non-null  int64
 38  GlobalID            91692 non-null  object
 39  C_NEW_PERCT_CHG     31895 non-null  float64
 40  D_NEW_PERCT_CHG     1149 non-null   float64
 41  C_NEW_7D_MEAN       91692 non-null  float64
 42  D_NEW_7D_MEAN       91692 non-null  float64
 43  C_NEW_7D_PERCT_CHG  36111 non-null  float64
 44  D_NEW_7D_PERCT_CHG  1276 non-null   float64
dtypes: float64(6), int64(36), object(3)
memory usage: 31.5+ MB

In [8]:
list(dataFrame)

['OBJECTID',
 'COUNTY',
 'CNTY_FIPS',
 'DATESTAMP',
 'C_New',
 'C_Cum',
 'D_New',
 'D_Cum',
 'H_New',
 'H_Cum',
 'C_Rate',
 'C_Female',
 'C_Male',
 'C_SexUnkn',
 'C_UCon_Yes',
 'C_UCon_No',
 'C_UCon_Unk',
 'C_Age_0_4',
 'C_Age_5_14',
 'C_Age_15_24',
 'C_Age_25_34',
 'C_Age_35_44',
 'C_Age_45_54',
 'C_Age_55_64',
 'C_Age_65_74',
 'C_Age_75_84',
 'C_Age_85plus',
 'C_Age_Unkn',
 'C_Age_0',
 'C_Age_20',
 'C_RaceWh',
 'C_RaceBl',
 'C_RaceAs',
 'C_RaceOth',
 'C_RaceUnk',
 'C_His',
 'C_NonHis',
 'C_EthUnk',
 'GlobalID',
 'C_NEW_PERCT_CHG',
 'D_NEW_PERCT_CHG',
 'C_NEW_7D_MEAN',
 'D_NEW_7D_MEAN',
 'C_NEW_7D_PERCT_CHG',
 'D_NEW_7D_PERCT_CHG']

In [9]:
dataFrame['COUNTY'].value_counts()

BALDWIN       566
UNION         566
COOK          566
CARROLL       566
EFFINGHAM     566
             ...
FORSYTH       566
GILMER        566
GLYNN         566
GLASCOCK      566
WASHINGTON    566
Name: COUNTY, Length: 162, dtype: int64

In [11]:
dataFrame_counties = dataFrame['COUNTY'].value_counts()
dataFrame_counties.head(20)

BALDWIN      566
UNION        566
COOK         566
CARROLL      566
EFFINGHAM    566
GREENE       566
HART         566
BERRIEN      566
CRAWFORD     566
HANCOCK      566
PIKE         566
QUITMAN      566
WARREN       566
CAMDEN       566
WILKINSON    566
DEKALB       566
PIERCE       566
WORTH        566
WEBSTER      566
MADISON      566
Name: COUNTY, dtype: int64

## Transforming Columns

In [12]:
dataFrame['DATESTAMP']

0        2021/04/13 03:59:59+00
1        2021/02/04 05:00:00+00
2        2021/04/14 03:59:59+00
3        2021/02/05 05:00:00+00
4        2021/04/15 03:59:59+00
                  ...
91687    2021/07/15 03:59:59+00
91688    2021/07/16 03:59:59+00
91689    2021/07/17 03:59:59+00
91690    2021/07/18 03:59:59+00
91691    2021/07/19 03:59:59+00
Name: DATESTAMP, Length: 91692, dtype: object

In [14]:
# creating a copy of the existing column so we can keep the original
# we could also overwrite the the column if we wanted to, but because we are unsure
# where we are going to take the analysis - lets just keep it

dataFrame['DATESTAMP_'] = dataFrame['DATESTAMP']
print(dataFrame['DATESTAMP_'].head(10))
print(dataFrame['DATESTAMP_'].dtypes)

0    2021/04/13 03:59:59+00
1    2021/02/04 05:00:00+00
2    2021/04/14 03:59:59+00
3    2021/02/05 05:00:00+00
4    2021/04/15 03:59:59+00
5    2021/02/06 05:00:00+00
6    2021/02/07 05:00:00+00
7    2021/04/16 03:59:59+00
8    2021/04/17 03:59:59+00
9    2021/02/08 05:00:00+00
Name: DATESTAMP_, dtype: object
object

In [15]:
dataFrame['DATESTAMP_'] = pd.to_datetime(dataFrame['DATESTAMP_'])
print(dataFrame['DATESTAMP_'].dtypes)

datetime64[ns, UTC]